<div class="collapse" id="help">
    <div class="card card-body mb-2 btn-red1">
	<h2>Help</h2>
	<div class="container">
	    <div class="row">
		<div class="col">
		    <p>
		    Wow! There are many features!!!<br>
		    The <b>good news</b> is that you can leave blank any feature when you don't know. <br>
		    The project is collaborative, so another reverse engineer will add further information if needed. This saves you from detailed reverse engineering if you haven't done one. <b>Don't bother about features you are unsure about. </b>
		    </p>
		    <br>
		    Guidelines for adding samples:

		    <ul>
			<li>If you haven't reverse engineered the sample, leave everything blank and press "Finished - Submit"</li>
			<li>Create an entry in Androscope as soon as you know <i>something</i> about the malware. Don't wait till you have reversed it entirely: reverse engineering takes time. Rather, create the entry and edit it later when you know more. </li>
			<li>When in doubt about a feature (either not sure what it means, or that the sample implements it), leave it blank.</li>
			<li>This is a collaborative platform. You can edit entries created by other people. This is fine. Please don't remove features unless you are absolutely certain.</li>
			<li>Do not include genuine features. For example, if a sample trojanizes a SMS application, and kills anti-virus apps, sending SMS is a genuine application and should not be selected, whereas killing anti-virus apps is the malicious feature and should be selected.</li>
			<li>Can't find a matching feature for what you want to describe? Use the generic "Anything else?" from Common Malicious Features (category: Main)</li>
		    </ul>

		</div>
	    </div>
	</div>
	<!-- close button -->
	<div class="text-center">
	    <a class="btn btn-red8" data-bs-toggle="collapse" href="#help" role="button"> Close </a>
	</div>
    </div>
</div>

