{% extends "base_feature.html" %}
{% load startswith %}
{% block feature %}
<div class="container">
    <div class="row">
	<div class="col">
	    {% for field in form %}
	    {% if field.html_name|startswith:'anti1_' %}
	    <input class="form-check-input" type="checkbox" name="{{ field.html_name }}" value="True" id="{{ field.id_for_label }}" {%if field.value%}checked{% endif %}>
	    <label class="form-check-label" for="{{ field.id_for_label }}">
		{{ field.label }}
		{% if field.help_text %}
		<i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field.help_text }}"></i>
		{% endif %}
	    </label>
	    <br>
	    {% endif %}
	    {% endfor %}
	</div>
	<div class="col">
	    {% for field in form %}
	    {% if field.html_name|startswith:'anti2_' %}
	    <input class="form-check-input" type="checkbox" name="{{ field.html_name }}" value="True" id="{{ field.id_for_label }}" {%if field.value%}checked{% endif %}>
	    <label class="form-check-label" for="{{ field.id_for_label }}">
		{{ field.label }}
		{% if field.help_text %}
		<i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field.help_text }}"></i>
		{% endif %}
	    </label>
	    <br>
	    {% endif %}
	    {% if field.html_name == "anti_other" %}
	    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	    <input type="text" class="form-control tagin" value="{{ field.value }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="Enter a comma-separated list of tags." data-transform="input => input.toLowerCase()" />
	    <br>
	    {% endif %}
	    {% endfor %}
	    
	</div>
    </div>
</div>
{% endblock %}
